.fa-solid {
  color: #f7d344;
  border: 1px, solid, #f7d344;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.fa-solid:hover {
  color: #000;
  transform: scale(1.2);
}
